<div class="border-bottom placeholder-glow py-5 my-5">
    <div class="wishlist-container">

        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="wishlist-product-image-container">
                    <div class="wishlist-product-image-render">
                        <div class="placeholder w-100" style="aspect-ratio: 1/1"></div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6">
                <div class="ps-3 pt-3">
                    <h4 class="mb-3">
                        <span class="placeholder col-8"></span>
                    </h4>

                    <p>
                        <span class="placeholder col-4"></span>
                    </p>

                    <div class="row">
                        <div class="col-6">
                            <div class="btn-height btn btn-outline-dark placeholder w-100"></div>
                        </div>
                        <div class="col-6">
                            <div class="btn-height btn btn-outline-dark placeholder w-100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>