<div class="order-success py-5">
    <div class="container">
        <div class="content d-flex flex-column align-items-center">
            <div class="order-image">
                <img src="https://img.freepik.com/premium-vector/green-check-mark-icon_1090394-158337.jpg?semt=ais_incoming&w=740&q=80"
                    alt="order success" class="img-fluid">
            </div>
            <p class="fs-2 text-dark">{{'ORDER.TITLE' | translate }}</p>
            <p class="m-0">{{'ORDER.NOTIFY' | translate }}</p>
            <p>{{'ORDER.ORDER_NUMBER' | translate }} #B6CT3.</p>
            <a [routerLink]="['/shop']" class="btn btn-outline-dark w-25">{{'ORDER.BUTTON' | translate }}</a>
        </div>
    </div>
</div>