<section class="instagram py-5">
    <div class="container">
        <div class="row g-3">
            <h6 class="element-title text-center">{{"COMMON.FOLLOW_US" | translate}}</h6>
            <div class="col-6 col-sm-4 col-md-2">
                <div class="insta-item">
                    <a href="https://www.instagram.com/templatesjungle/" target="_blank">
                        <img src="assets/images/instagram/insta-item1.jpg" alt="instagram"
                            class="insta-image img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <div class="insta-item">
                    <a href="https://www.instagram.com/templatesjungle/" target="_blank">
                        <img src="assets/images/instagram/insta-item2.jpg" alt="instagram"
                            class="insta-image img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <div class="insta-item">
                    <a href="https://www.instagram.com/templatesjungle/" target="_blank">
                        <img src="assets/images/instagram/insta-item3.jpg" alt="instagram"
                            class="insta-image img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <div class="insta-item">
                    <a href="https://www.instagram.com/templatesjungle/" target="_blank">
                        <img src="assets/images/instagram/insta-item4.jpg" alt="instagram"
                            class="insta-image img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <div class="insta-item">
                    <a href="https://www.instagram.com/templatesjungle/" target="_blank">
                        <img src="assets/images/instagram/insta-item5.jpg" alt="instagram"
                            class="insta-image img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <div class="insta-item">
                    <a href="https://www.instagram.com/templatesjungle/" target="_blank">
                        <img src="assets/images/instagram/insta-item6.jpg" alt="instagram"
                            class="insta-image img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>