<section class="product-grid py-5 clearfix">
    <div class="container">
        <div class="row">
            <div id="filters" class="button-group d-flex gap-4 justify-content-center py-5">
                @for (item of productHightlightFilter; track $index) {
                <button type="button" class="fancy-link text-uppercase" [class.active]="item.checked">{{item.text! |
                    translate}}
                </button>
                }
            </div>
            <div class="product-carousel product-element swiper-menu position-relative overflow-hidden">
                <div class="swiper product-swiper" #swiper>
                    <div class="swiper-wrapper d-flex">
                        @if (products$ | async; as products) {
                        @for (product of products; track product.id) {
                        <div class="swiper-slide">
                            <app-product-item [product]="product"></app-product-item>
                        </div>
                        }
                        }@else {
                        @for (i of [1, 2, 3, 4]; track i) {
                        <div class="swiper-slide">
                            <app-product-item [product]="undefined"></app-product-item>
                        </div>
                        }
                        }
                    </div>
                </div>
                <div class="icon-arrow icon-arrow-left" #arrowLeft><svg width="50" height="50" viewBox="0 0 24 24">
                        <use xlink:href="#angle-left"></use>
                    </svg></div>
                <div class="icon-arrow icon-arrow-right" #arrowRight><svg width="50" height="50" viewBox="0 0 24 24">
                        <use xlink:href="#angle-right"></use>
                    </svg></div>
            </div>
        </div>
    </div>
</section>