<div class="flex flex-col gap-1.5 w-full">
    <div class="relative input-control">
        <input [value]="value()" [type]="inputType()" [placeholder]="placeholder()" [autocomplete]="autocomplete()"
            [id]="id()" (input)="onInput($event)" (blur)="onTouched()"
            class="w-full px-4 py-3.5 text-sm rounded-none border border-neutral-200  placeholder-neutral-400 focus:outline-none focus:border-black focus:ring-1 focus:ring-black bg-white transition-all duration-200"
            [class.border-neutral-200]="!isInvalid" [class.focus:border-black]="!isInvalid"
            [class.focus:ring-black]="!isInvalid" [class.bg-white]="!isInvalid" [class.border-red-500]="isInvalid"
            [class.focus:border-red-500]="isInvalid" [class.focus:ring-red-500]="isInvalid"
            [class.bg-red-50]="isInvalid" />
        @if (type() == 'password' && value()) {
        <button type="button" (click)="togglePassword()"
            class="absolute right-4 top-1/2 -translate-y-1/2 text-[10px] uppercase tracking-widest text-neutral-500 hover: transition-colors">
            {{ (showPassword() ? 'COMMON.HIDE' : 'COMMON.SHOW') | translate }}
        </button>
        }
        @if (isPending) {
        <div class="absolute right-3 top-1/2 -translate-y-1/2 flex items-center justify-center pointer-events-none">
            <svg class="animate-spin h-3.5 w-3.5 text-neutral-400" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="3"></circle>
                <path class="opacity-75" fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                </path>
            </svg>
        </div>
        }
    </div>
    @if (isInvalid) {
    @if (errors | controlError: customErrorMessages(); as err) {
    <div class="text-xs text-red-700/90 font-medium tracking-wide flex items-center gap-1 animate-fadeIn">
        <svg class="w-3.5 h-3.5 shrink-0" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                clip-rule="evenodd"></path>
        </svg>
        {{ err.key | translate: err.params }}
    </div>
    }
    }
</div>