<section class="categories full-width-container overflow-hidden py-5 slide-clip-animation aos-init aos-animate"
    data-aos="fade-in">
    <div class="row d-flex flex-wrap">
        @for (category of categories$ | async; track category.id) {
        <div class="col-md-4 col-6">
            <div class="image-zoom-effect position-relative">
                <div class="image-holder">
                    <a [routerLink]="['/shop']"><img [src]="category.imageUrl" alt="categories"
                            class="product-image img-fluid"></a>
                    <div class="category-content position-absolute bottom-0 p-5 text-uppercase">
                        <h4 class="section-title text-white">{{category.name}}</h4>
                        <a [routerLink]="['/shop']" class="text-white btn-link">
                            {{"CATEGORY.BUTTON" | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</section>