<div class="container d-flex align-items-center justify-content-center py-5">
    <div class="card shadow-lg border-0 rounded-3 p-4" style="max-width: 400px; width: 100%;">

        @if (!isSent()) {
        <div class="text-center mb-4">
            <div class="bg-light-success rounded-circle d-inline-flex p-3 mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-key"
                    viewBox="0 0 16 16">
                    <path
                        d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5" />
                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                </svg>
            </div>
            <h3 class="fw-bold">{{'AUTH.FOGOT_PASSWORD.TITLE' | translate}}</h3>
            <p class="text-muted small">{{'AUTH.FOGOT_PASSWORD.DESC' | translate}}</p>
        </div>

        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="mb-4">
                <label class="form-label small fw-bold"> {{'COMMON.EMAIL_ADDRESS' | translate}}</label>
                <input type="email" formControlName="email" class="form-control form-control-lg no-icon"
                    placeholder="name@company.com" [formControlError] [errorMessages]="{
                   'notFound': 'AUTH.VALIDATION.EMAIL_NOT_EXIST'
                 }">
            </div>

            <button type="submit" class="btn btn-dark btn-lg w-100 mb-3" [disabled]="isSubmitting()">
                @if (isSubmitting()) {
                <span class="spinner-border spinner-border-sm me-2"></span> {{'COMMON.PROCESSING' | translate}}...
                } @else {
                {{'AUTH.FOGOT_PASSWORD.BUTTON' | translate}}
                }
            </button>

            <div class="text-center">
                <a routerLink="/auth/login" class="fancy-link small text-capitalize cursor-pointer">
                    {{'AUTH.FOGOT_PASSWORD.LINK' | translate}}
                </a>
            </div>
        </form>

        } @else {
        <div class="text-center py-3">
            <div class="bg-light-success rounded-circle d-inline-flex p-3 mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                    class="bi bi-send-check" viewBox="0 0 16 16">
                    <path
                        d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372zm-2.54 1.183L5.93 9.363 1.591 6.602z" />
                    <path
                        d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686" />
                </svg>
            </div>
            <h3 class="fw-bold">{{'AUTH.FOGOT_PASSWORD.SUCCESS.TITLE' | translate}}</h3>
            <p class="text-muted small my-2">
                {{'AUTH.FOGOT_PASSWORD.SUCCESS.DESC' | translate}}
                <strong class="text-dark">{{ userEmail() }}</strong>
            </p>

            <div class="alert alert-warning border-0 small">
                {{'AUTH.FOGOT_PASSWORD.SUCCESS.ALERT' | translate}}
            </div>

            <button (click)="isSent.set(false)" class="btn btn-outline-dark w-100 mb-3">
                {{'AUTH.FOGOT_PASSWORD.SUCCESS.BUTTON' | translate}}
            </button>

            <p class="text-muted small">
                {{'AUTH.FOGOT_PASSWORD.SUCCESS.FOOTER' | translate}} <button (click)="onSubmit()"
                    class="fw-bold">{{'AUTH.FOGOT_PASSWORD.SUCCESS.BTN_RESEND' | translate}}</button>
            </p>
        </div>
        }

    </div>
</div>