.bg-light-success {
    background-color: #e6fffa;
}

.form-control-lg {
    font-size: 1rem;
}

.card {
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }
}