<section id="login-form" class="py-5">
    <div class="container-sm">
        <div class="row justify-content-center">
            <div class="col-6">
                <h2 class="section-title">{{'AUTH.FORGOT_PASSWORD' | translate}}</h2>
                <form #form="ngForm" (ngSubmit)="requestNewResetEmail()" class="form-group flex-wrap">
                    <div class="col-12 pb-3">
                        <label for="email">{{'COMMON.EMAIL_ADDRESS' | translate}} *</label>
                        <input type="text" id="email" name="email" class="form-control" [placeholder]="'COMMON.EMAIL_PLACEHOLDER' | translate"
                            autocomplete="email" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" [(ngModel)]="email">
                    </div>
                    <div class="col-12">
                        <ng-container *appLoadingToggle="'submitBtn'">
                            <button type="submit" name="submit" class="btn btn-dark btn-large text-uppercase mb-3"
                                [disabled]="form.invalid">{{'COMMON.CONFIRM' | translate}}
                            </button>
                        </ng-container>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<ng-template #notifyTpl>
    <p>{{message}}</p>
</ng-template>