<!-- Hero -->
<app-hero [title]="'Shop Right Bar'"></app-hero>
<!-- Product -->
<div class="py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-9">
                @if (products.length) {
                <div class="row py-2">
                    <div class="col-md-9">
                        <span>{{ "SHOP.RESULTS_SUMMARY" | translate:{start: startIndex, end: endIndex, total:
                            totalItems} }}</span>
                    </div>
                    <div class="col-md-3">
                        <select class="form-select border-0" aria-label="Default select example">
                            <option selected="">{{"SHOP.DEFAULT_SORT" | translate}}</option>
                            <option value="1">{{"COMMON.COLOR" | translate}}</option>
                            <option value="2">{{"COMMON.SIZE" | translate}}</option>
                            <option value="3">{{"COMMON.PRICE" | translate}}</option>
                        </select>
                    </div>
                </div>
                <app-product-list [products]="products"></app-product-list>
                <app-pagination [totalItems]="totalItems" [currentPage]="params.page" [limit]="params.limit"
                    [maxPagesToShow]="5" (pageChange)="onPageChange($event)"></app-pagination>
                } @else {
                <div class="text-center">
                    <span>{{"SHOP.NO_PRODUCT" | translate}}</span>
                </div>
                }
            </div>
            <aside class="col-md-3">
                <app-side-bar (onFilterChange)="filterProduct($event)"></app-side-bar>
            </aside>
        </div>
    </div>
</div>