.offcanvas {
    --bs-offcanvas-width: 100%;
}

@media (min-width: 768px) {
    .offcanvas {
        --bs-offcanvas-width: 500px;
    }
}

@media (min-width: 1200px) {
    .offcanvas {
        --bs-offcanvas-width: 600px;
    }
}