@if (totalPages > 0) {
<nav aria-label="Page navigation" class="d-flex justify-content-center mt-5">
    <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
            <button class="page-link" aria-label="Previous" (click)="goToPage(currentPage - 1)">
                <span aria-hidden="true">&laquo;</span>
                <i class="icon icon-arrow-left"></i>
            </button>
        </li>
        @if (pages[0] > 1) {
        <li class="page-item disabled">
            <span class="page-link">...</span>
        </li>
        }
        @for (page of pages; track $index) {
        <li class="page-item" [class.active]="currentPage === page" aria-current="page"><button class="page-link"
                (click)="goToPage(page)">{{page}}</button></li>
        }
        @if (pages[pages.length - 1] < totalPages) { <li class="page-item disabled">
            <span class="page-link">...</span>
            </li>
            }
            <li class="page-item" [class.disabled]="currentPage === totalPages">
                <button class="page-link" aria-label="Next" (click)="goToPage(currentPage + 1)">
                    <span aria-hidden="true">&raquo;</span>
                </button>
            </li>
    </ul>
</nav>
}