<section class="hero-section jarallax">
    <img [src]="'assets/images/hero/' + imageUrl" class="jarallax-img">
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div
                    class="d-flex flex-wrap flex-column justify-content-center align-items-center my-5 py-5 text-white">
                    <h1 class="page-title text-uppercase">{{title}}</h1>
                    <nav class="breadcrumb text-white">
                        <a class="breadcrumb-item" href="#">Home</a>
                        <a class="breadcrumb-item" href="#">Pages</a>
                        <span class="breadcrumb-item active" aria-current="page">Shop Right Sidebar</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>