<div class="d-flex align-items-center justify-content-center min-vh-100 bg-light">
    <div class="card verification-card p-4 p-md-5 mx-2">
        <div class="card-body text-center">
            @switch (verificationStatus) {
            @case ('pending') {
            <ng-container [ngTemplateOutlet]="pendingTpl"></ng-container>
            }
            @case ('success') {
            <ng-container [ngTemplateOutlet]="successTpl"></ng-container>
            }
            @case ('error') {
            <ng-container [ngTemplateOutlet]="errorTpl"></ng-container>
            }
            }

        </div>
    </div>
</div>

<ng-template #pendingTpl>
    <h2 class="card-title text-dark mb-3 fw-bold">
        {{'AUTH.VERIFICATION.PENDING.TITLE' | translate}}
    </h2>

    <p class="card-text fs-5 mb-4 text-secondary">
        {{'AUTH.VERIFICATION.PENDING.TEXT' | translate}}
        <br />
        <strong class="text-primary" id="userEmailDisplay">{{email}}</strong>
    </p>

    <p class="text-muted mb-4 small">
        <!-- Vui lòng mở email đó và nhấp vào liên kết để kích hoạt tài khoản của bạn.
        <br />
        Nếu bạn không thấy email, hãy kiểm tra thư mục **Spam/Thư rác** nhé! -->
        {{'AUTH.VERIFICATION.PENDING.TEXT_MUTED' | translate}}
    </p>

    <hr class="my-4" />

    <!-- <p class="fw-bold mb-3 text-dark">Chưa nhận được email?</p> -->
    <div class="d-grid gap-3 col-md-8 mx-auto">
        <button class="btn btn-primary btn-lg rounded-pill" type="button" (click)="requestNewVerificationEmail()"
            [disabled]="resendDisabled">
            <i class="bi bi-arrow-clockwise me-2"></i> {{'AUTH.VERIFICATION.BUTTON' | translate}}
        </button>
        @if (resendDisabled) {
        <span>
            {{'AUTH.VERIFICATION.RESEND_AFTER' | translate}}: {{countdown$ | async}}s
        </span>
        }
        <p class="mt-3 text-muted">
            {{'AUTH.VERIFICATION.PENDING.NEED_HELP' | translate}}
            <a href="#" class="text-decoration-none text-info fw-bold">{{'COMMON.CONTACT_US' | translate}}</a>.
        </p>
    </div>
</ng-template>

<ng-template #successTpl>
    <h2 class="card-title text-dark mb-3 fw-bold">
        {{'AUTH.VERIFICATION.SUCCESS' | translate}}
    </h2>
</ng-template>

<ng-template #errorTpl>
    <h2 class="card-title text-dark mb-3 fw-bold">
        {{'AUTH.VERIFICATION.FAILED' | translate}}
    </h2>
    <div class="d-grid gap-3 col-md-8 mx-auto">
        <input type="email" [placeholder]="'COMMON.EMAIL_PLACEHOLDER' | translate" class="form-control"
            pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/" #verificationEmail>
        <button class="btn btn-primary btn-lg rounded-pill" type="button"
            (click)="requestNewVerificationEmail(verificationEmail.value)" [disabled]="resendDisabled">
            <i class="bi bi-arrow-clockwise me-2"></i> {{'AUTH.VERIFICATION.BUTTON' | translate}}
        </button>
        @if (resendDisabled) {
        <span>
            {{'AUTH.VERIFICATION.RESEND_AFTER' | translate}}: {{countdown$ | async}}s
        </span>
        }
    </div>
</ng-template>