@if (blog) {
<article class="post-item pb-5">
    <div class="post-image">
        <a [routerLink]="['/blog', blog.slug]"><img [src]="blog.thumbnail_url" class=""></a>
    </div>
    <div class="post-content">
        <div class="post-meta text-uppercase py-3">
            <span class="post-category">Fashion</span> / <span class="meta-date">{{blog.published_at |
                date:'dd MMM, yyyy'}}</span>
        </div>
        <h5 class="post-title text-uppercase" [title]="blog.title">
            <a [routerLink]="['/blog', blog.slug]" class="post-title_link">{{blog.title}}</a>
        </h5>
        <p class="post-excerpt" [title]="blog.excerpt" #tooltipEl>{{blog.excerpt}}</p>
    </div>
</article>
} @else {
<article class="post-item pb-5 skeleton-card">
    <div class="post-image skeleton-img"></div>

    <div class="post-content">
        <div class="post-meta py-3">
            <span class="skeleton-line sm w-25"></span>
        </div>
        <h5 class="post-title">
            <span class="skeleton-line lg w-75"></span>
        </h5>
        <div class="post-excerpt">
            <span class="skeleton-line md w-100"></span>
            <span class="skeleton-line md w-50"></span>
        </div>
    </div>
</article>
}