.card-title {
    font-size: 18px;
}

.card-color
.card-price {
    font-size: 16px;
}

.quantity-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 12px;
    background-color: white;
    box-shadow: 1px 0px 5px rgba($color: #000000, $alpha: 0.3);
    padding: 4px 8px;

    input {
        border: none;
        outline: none;
        width: 100%;
        margin: 0 8px;
        text-align: center;
    }

    button {
        width: 16px;
        border: none;
        background: none;
        padding: 0;
    }
}

p {
    margin: 0;
}