<section class="py-5">
    <div class="container">
        <div class="row">
            @if(cartItems.length) {

            <div class="col-12 col-lg-9">
                <div class="cart-list">
                    @for (item of cartItems; track $index) {
                    <div class="cart-item border-bottom">
                        <div class="row align-items-center">
                            <div class="col-9 col-md-5">
                                <div class="cart-info d-flex align-items-center gap-3">
                                    <div class="col-4">
                                        <a [routerLink]="['/product', item.productId, item.variantId, item.slug]">
                                            <img [src]="item.imageUrl" alt="cloth" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="col-8">
                                        <h3 class="card-title">
                                            <a [routerLink]="['/product', item.productId, item.variantId, item.slug]"
                                                class="text-decoration-none">{{item.name}}</a>
                                        </h3>
                                        <p class="card-color">{{item.color}}</p>
                                        <p class="card-price">{{item.price | currency}} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 d-none d-md-block">
                                <p>{{item.price | currency}} </p>
                            </div>
                            <div class="col-3 col-md-2">
                                <div class="quantity-group">
                                    <button type="button" (click)="decreaseQuantity(item)">
                                        <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="number" id="quantity" name="quantity" readonly [value]="item.quantity"
                                        min="1">
                                    <button type="button" (click)="increaseQuantity(item)">
                                        <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="col-2 d-none d-md-block">
                                <p class="money text-dark text-center">{{item.finalPrice * item.quantity|
                                    currency}}</p>
                            </div>
                            <div class="col-1 d-none d-md-block">
                                <ng-container *appLoadingToggle="'cart-remove-' + item.variantId">
                                    <button class="btn text-dark" (click)="removeFromCart(item.variantId)">
                                        <svg width="32px">
                                            <use xlink:href="#trash"></use>
                                        </svg>
                                    </button>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="col-12 offset-0 col-md-6 offset-md-6 col-lg-3 offset-lg-0">
                <div class="cart-totals bg-grey py-5">
                    <h4 class="text-dark pb-4">{{"COMMON.CART_TOTAL" | translate}}</h4>
                    <div class="d-flex align-items-center justify-content-between mb-2 py-2 border-bottom border-top">
                        <b class="text-dark text-uppercase ">{{"COMMON.SUBTOTAL" |
                            translate}}</b>
                        <p class="text-dark mb-0">{{subTotal | currency}}</p>
                    </div>
                    <div>
                        <div class="mb-2"><a [routerLink]="['/shop']"
                                class="btn btn-dark text-uppercase btn-rounded-none w-100">{{"CART.CONTINUE_SHOPPING" |
                                translate}}</a>
                        </div>
                        <div class="col-md-12"><a class="btn btn-primary text-uppercase btn-rounded-none w-100"
                                (click)="goToCheckout()">{{"CART.PROCEED_CHECKOUT"
                                | translate}}</a></div>
                    </div>
                </div>
            </div>
            } @else {
            <app-cart-empty></app-cart-empty>
            }

        </div>
    </div>
</section>
<app-full-page-loading [visible]="isLoading"></app-full-page-loading>