<div class="dialog-backdrop">
    <div class="dialog-box">
        <h3>{{ title }}</h3>

        <div class="dialog-body">
            <!-- Điểm neo để ném Component con vào -->
            <ng-container #dynamicContent></ng-container>
        </div>

        <div class="dialog-footer">
            <button (click)="cancel.emit()">{{ cancelText || 'COMMON.CANCEL' | translate }}</button>
            <button class="btn-primary" (click)="handleConfirm()">{{ confirmText || 'COMMON.CONFIRM' |
                translate }}</button>
        </div>
    </div>
</div>