<aside class="col-md-3">
    <div class="blog-sidebar">
        <form role="search" method="get" action="" class="mb-5">
            <div class="wp-block-search d-flex border p-2">
                <input type="search" class="form-control border-0 focus-ring-light" name="s" value=""
                    placeholder="Search" required="">
                <button type="submit" class="border-0 bg-transparent"><i class="icon icon-search"></i></button>
            </div>
        </form>
        <div class="widget sidebar-categories border-animation-left mb-5">
            <h5 class="widget-title text-uppercase border-bottom pb-3 mb-3">Categories</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="#" class="item-anchor">All</a>
                </li>
                <li>
                    <a href="#" class="item-anchor">Women</a>
                </li>
                <li>
                    <a href="#" class="item-anchor">Accessories</a>
                </li>
                <li>
                    <a href="#" class="item-anchor">Fashion</a>
                </li>
                <li>
                    <a href="#" class="item-anchor">Dressup</a>
                </li>
                <li>
                    <a href="#" class="item-anchor">Makeup</a>
                </li>
                <li>
                    <a href="#" class="item-anchor">Photography</a>
                </li>
            </ul>
        </div>
        <div class="widget block-tag mb-5">
            <h5 class="widget-title text-uppercase border-bottom pb-3 mb-3">Tags</h5>
            <ul class="list-unstyled d-flex flex-wrap gap-2">
                <li>
                    <a href="#" class="btn btn-outline-secondary">Beauty</a>
                </li>
                <li>
                    <a href="#" class="btn btn-outline-secondary">Fashion</a>
                </li>
                <li>
                    <a href="#" class="btn btn-outline-secondary">Travel</a>
                </li>
                <li>
                    <a href="#" class="btn btn-outline-secondary">Denim</a>
                </li>
                <li>
                    <a href="#" class="btn btn-outline-secondary">Trending</a>
                </li>
                <li>
                    <a href="#" class="btn btn-outline-secondary">Clothing</a>
                </li>
                <li>
                    <a href="#" class="btn btn-outline-secondary">Photography</a>
                </li>
                <li>
                    <a href="#" class="btn btn-outline-secondary">Jackets</a>
                </li>
            </ul>
        </div>
        <div class="widget sidebar-recent-blog mb-5">
            <h5 class="widget-title text-uppercase border-bottom pb-3 mb-3">Recent blogs</h5>
            <div class="sidebar-blog-item d-flex justify-content-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="image-holder">
                            <a href="#">
                                <img src="assets/images/newsletter/bg-newsletter.jpg" alt="blog" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="sidebar-blog-content text-uppercase">
                            <div class="blog-meta fs-6 text-secondary">
                                <span class="meta-date">jul 11, 2022</span>
                            </div>
                            <h6 class="blog-title">
                                <a href="#">How to look outstanding in pastel</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-blog-item d-flex justify-content-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="image-holder">
                            <a href="#">
                                <img src="assets/images/newsletter/bg-newsletter.jpg" alt="blog" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="sidebar-blog-content text-uppercase">
                            <div class="blog-meta fs-6 text-secondary">
                                <span class="meta-date">jul 18, 2022</span>
                            </div>
                            <h6 class="blog-title">
                                <a href="#">Top 10 minimal outlooks for womens</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-blog-item d-flex justify-content-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="image-holder">
                            <a href="#">
                                <img src="assets/images/newsletter/bg-newsletter.jpg" alt="blog" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="sidebar-blog-content text-uppercase">
                            <div class="blog-meta fs-6 text-secondary">
                                <span class="meta-date">Aug 21, 2022</span>
                            </div>
                            <h6 class="blog-title">
                                <a href="#">Soft cotton onepiece dress for women</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget sidebar-social-links border-animation-left">
            <h5 class="widget-title text-uppercase border-bottom pb-3 mb-3">Follow us:</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="#" class="item-anchor">Facebook</a>
                </li>
                <li>
                    <a href="#" class="item-anchor">Twitter</a>
                </li>
                <li>
                    <a href="#" class="item-anchor">Pinterest</a>
                </li>
                <li>
                    <a href="#" class="item-anchor">Youtube</a>
                </li>
            </ul>
        </div>
    </div>
</aside>