<nav class="navbar navbar-expand-lg fixed-top text-white text-uppercase fs-6 p-3 align-items-center border-bottom border-light border-opacity-25"
    [class.bg-black]="isScrolled">
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center w-100">

            <div class="col-auto">
                <a class="navbar-brand" href="index.html"><img src="images/light-logo.png" alt="logo"></a>
            </div>

            <div class="col-auto">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 gap-1 gap-md-5 pe-3">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" id="dropdownHome"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                                <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownHome">
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">Home Layout 1</a>
                                    </li>
                                    <li>
                                        <a href="home2.html" class="dropdown-item item-anchor">Home Layout 2 <span
                                                class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="home3.html" class="dropdown-item item-anchor">Home Layout 3 <span
                                                class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="home4.html" class="dropdown-item item-anchor">Home Layout 4 <span
                                                class="badge bg-primary">PRO</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownShop" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Shop</a>
                                <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownShop">
                                    <li>
                                        <a href="shop-sidebar.html" class="dropdown-item item-anchor">Shop Sidebar <span
                                                class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="shop-three-column.html" class="dropdown-item item-anchor">Shop Three
                                            Column <span class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="shop-three-column-wide.html" class="dropdown-item item-anchor">Shop
                                            Three Column Wide <span class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="shop-four-column.html" class="dropdown-item item-anchor">Shop Four
                                            Column <span class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="shop-four-column-wide.html" class="dropdown-item item-anchor">Shop Four
                                            Column Wide <span class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="shop-six-column.html" class="dropdown-item item-anchor">Shop Six Column
                                            <span class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="shop-six-column-wide.html" class="dropdown-item item-anchor">Shop Six
                                            Column Wide <span class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="single-product.html" class="dropdown-item item-anchor">Single Product
                                            <span class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="single-product2.html" class="dropdown-item item-anchor">Single Product
                                            V2 <span class="badge bg-primary">PRO</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownBlog" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownBlog">
                                    <li>
                                        <a href="blog-classic.html" class="dropdown-item item-anchor">Blog Classic <span
                                                class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="blog-grid-with-sidebar.html" class="dropdown-item item-anchor">Blog
                                            Grid with Sidebar <span class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="blog-grid-four-column.html" class="dropdown-item item-anchor">Blog Grid
                                            Four Column <span class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="blog-no-sidebar.html" class="dropdown-item item-anchor">Blog No Sidebar
                                            <span class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="blog-right-sidebar.html" class="dropdown-item item-anchor">Blog Right
                                            Sidebar <span class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="single-post.html" class="dropdown-item item-anchor">Single Post <span
                                                class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="single-post-no-sidebar.html" class="dropdown-item item-anchor">Single
                                            Post No Sidebar <span class="badge bg-primary">PRO</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownPages"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownPages">
                                    <li>
                                        <a href="about.html" class="dropdown-item item-anchor">About <span
                                                class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="cart.html" class="dropdown-item item-anchor">Cart <span
                                                class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="checkout.html" class="dropdown-item item-anchor">Checkout <span
                                                class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="coming-soon.html" class="dropdown-item item-anchor">Coming Soon <span
                                                class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="contact.html" class="dropdown-item item-anchor">Contact <span
                                                class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="error-page.html" class="dropdown-item item-anchor">Error Page <span
                                                class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="faqs.html" class="dropdown-item item-anchor">FAQs <span
                                                class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="my-account.html" class="dropdown-item item-anchor">My Account <span
                                                class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="order-tracking.html" class="dropdown-item item-anchor">Order Tracking
                                            <span class="badge bg-primary">PRO</span></a>
                                    </li>
                                    <li>
                                        <a href="wishlist.html" class="dropdown-item item-anchor">Wishlist <span
                                                class="badge bg-primary">PRO</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-primary rounded-pill"
                                    href="https://templatesjungle.gumroad.com/l/kaira-bootstrap-ecommerce-template"
                                    target="_blank">Get PRO</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <ul class="list-unstyled d-flex">
                    <li>
                        <a href="wishlist.html" class="text-uppercase mx-3">Wishlist <span
                                class="wishlist-count">(0)</span>
                        </a>
                    </li>
                    <li>
                        <a href="cart.html" class="text-uppercase mx-3" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">Cart <span
                                class="cart-count">(0)</span>
                        </a>
                    </li>
                    <li>
                        <a href="#like" class="mx-2">
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <use xlink:href="#user"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="search-box mx-2">
                        <a href="#search" class="search-button">
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <use xlink:href="#search"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</nav>