<section id="wishlist" class="py-5 my-5">
    <div class="wishlist-container">
        @if(!wishlistItems.length) {
        <app-wishlist-empty></app-wishlist-empty>
        } @else {
        @for (item of wishlistItems; track item.id; let isLast = $last) {
        <div class="pb-5 mt-5" [class.border-bottom]="!isLast">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="wishlist-product-image-container">
                        <div class="wishlist-product-image-render">
                            <a [routerLink]="['/product',item.productId, item.variantId, item.slug]" href=""
                                title="Baguette®">
                                <img class="w-100" alt="Baguette®" title="Baguette®" [src]="item.imageUrl">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="ps-3 pt-3">
                        <h4 class="mb-3"> <a
                                [routerLink]="['/product',item.productId, item.variantId, item.slug]">{{item.name}}</a>
                        </h4>
                        <p>{{'COMMON.COLOR' | translate}}: {{item.color}}</p>
                        <div class="row">
                            <div class="col-6">
                                <button *appLoadingToggle="'wishlist-remove-' + item.variantId" type="button"
                                    class="btn btn-outline-dark w-100 h-100"
                                    (click)="removeFromWishlist(item.variantId)">{{'COMMON.REMOVE' |
                                    translate}}</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-secondary w-100 h-100" disabled>{{'COMMON.ADD_TO_CART' |
                                    translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        }

    </div>
</section>

<app-full-page-loading [visible]="isLoading"></app-full-page-loading>