<section aria-label="Products" class="grid gap-x-5 gap-y-14 transition-all duration-500 ease-in-out"
    [class]="gridClass()">
    @if (loading()) {
    @for (product of skeletonItems; track $index) {
    <app-product-card-skeleton />
    }
    } @else {
    @if (products().length) {

    @for (product of products(); track product.id; let i = $index) {
    <app-product-card [product]="product" />
    @if (i === 7) {
    <article class="col-span-full my-10">
        <div class="relative overflow-hidden">
            <img src="https://images.unsplash.com/photo-1529139574466-a303027c1d8b" alt="Editorial Collection"
                class="h-100 w-full object-cover md:h-125" />

            <div class="absolute inset-0 bg-black/20"></div>

            <div class="absolute bottom-10 left-10 md:bottom-14 md:left-14">
                <p class="mb-4 text-[11px] uppercase tracking-[0.35em] text-white">
                    Editorial
                </p>

                <h2 class="max-w-lg text-4xl font-light uppercase text-white md:text-6xl">
                    Designed To Last
                </h2>
            </div>
        </div>
    </article>
    } @else {

    }
    }
    }
    }
</section>