<section id="login-form" class="auth py-5">
    <div class="container-sm">
        <div class="row justify-content-center">
            <div class="col-4">
                <h2 class="section-title text-uppercase">{{'COMMON.SIGN_UP' | translate}}</h2>
                <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="form-group flex-wrap">
                    <div class="col-12 pb-3">
                        <label for="username">{{'AUTH.USERNAME' | translate}} *</label>
                        <input type="text" formControlName="username" id="username" autocomplete="username"
                            [placeholder]="'AUTH.USERNAME_PLACEHOLDER' | translate" class="form-control"
                            [formControlError]>
                    </div>
                    <div class="col-12 pb-3">
                        <label for="email">{{'COMMON.EMAIL_ADDRESS' | translate}} *</label>
                        <input type="email" formControlName="email" id="email"
                            [placeholder]="'COMMON.EMAIL_PLACEHOLDER' | translate" class="form-control"
                            [formControlError] [errorMessages]="{'pattern': 'FORM_MESSAGE.EMAIL_PATTERN'}">
                    </div>
                    <div class="col-12 pb-3">
                        <label>{{'AUTH.PASSWORD' | translate}} *</label>
                        <div class="position-relative">
                            <input [type]="pwInputType" formControlName="password"
                                [placeholder]="'AUTH.PASSWORD_PLACEHOLDER' | translate" class="form-control"
                                autocomplete="current-password" [formControlError]
                                [errorMessages]="{'pattern': 'FORM_MESSAGE.PASSWORD_PATTERN'}">
                            <button type="button" [hidden]="!!registrationForm.get('password')?.errors"
                                class="password-toggle btn btn-outline position-absolute h-100 top-0 end-0"
                                (click)="togglePassword()">
                                <svg width="18" height="18" viewBox="0 0 18 18">
                                    @if (pwInputType === 'password') {
                                    <use xlink:href="#eye"></use>
                                    } @else {
                                    <use xlink:href="#eye-slash"></use>
                                    }
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <label>{{'AUTH.CONFIRM_PASSWORD' | translate}} *</label>
                        <div class="position-relative">
                            <input [type]="confirmInputType" formControlName="confirmPassword"
                                [placeholder]="'AUTH.CF_PASSWORD_PLACEHOLDER' | translate" class="form-control"
                                autocomplete="confirm-password"
                                [class.is-invalid]="registrationForm.errors?.['passwordMismatch'] && registrationForm.get('confirmPassword')?.touched">
                            <button type="button" [hidden]="registrationForm.errors?.['passwordMismatch'] || !!registrationForm.get('confirmPassword')?.errors"
                                class="password-toggle btn btn-outline position-absolute h-100 top-0 end-0"
                                (click)="toggleConfirmPassword()">
                                <svg width="18" height="18" viewBox="0 0 18 18">
                                    @if (confirmInputType === 'password') {
                                    <use xlink:href="#eye"></use>
                                    } @else {
                                    <use xlink:href="#eye-slash"></use>
                                    }
                                </svg>
                            </button>
                            <div class="invalid-feedback">
                                {{'FORM_MESSAGE.PASSWORD_MIS_MATCH' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <ng-container *appLoadingToggle="'submitBtn'">
                            <button type="submit" class="btn btn-dark btn-large text-uppercase"
                                [disabled]="registrationForm.invalid">{{'COMMON.SIGN_UP' | translate}}</button>
                        </ng-container>
                    </div>
                    <div class="col-12">
                        <a [routerLink]="['/auth/login']" class="btn-link d-inline-block">{{'AUTH.HAS_ACCOUNT' |
                            translate}}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>