<footer id="footer" class="py-5">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-001">
                    <div class="footer-intro mb-4">
                        <a href="index.html">
                            <img src="assets/images/main-logo.png" alt="logo">
                        </a>
                    </div>
                    <p>Make it yours.</p>
                    <div class="social-links">
                        <ul class="list-unstyled d-flex flex-wrap gap-3">
                            <li>
                                <a href="#" class="text-secondary">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-secondary">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#twitter"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-secondary">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#youtube"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-secondary">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#pinterest"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-secondary">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-002">
                    <h5 class="widget-title text-uppercase mb-4">{{'FOOTER.QUICK_LINK' | translate}}</h5>
                    <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
                        <li class="menu-item">
                            <a routerLink="/" class="item-anchor">{{'NAV.HOME' | translate}}</a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/about" class="item-anchor">{{'NAV.ABOUT' | translate}}</a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/contact" class="item-anchor">{{'NAV.CONTACT' | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-003">
                    <h5 class="widget-title text-uppercase mb-4">{{'FOOTER.HELP_INFO' | translate}}</h5>
                    <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
                        <li class="menu-item">
                            <a routerLink="/order-tracking" class="item-anchor">{{'FOOTER.ORDER_TRACKING' | translate}}</a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/return-exchange" class="item-anchor">{{'FOOTER.RETURN_EXCHANGE' | translate}}</a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/shipping-delivery" class="item-anchor">{{'FOOTER.SHIPPING_DELIVERY' | translate}}</a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/faq" class="item-anchor">{{'FOOTER.FAQ' | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-004 border-animation-left">
                    <h5 class="widget-title text-uppercase mb-4">{{'COMMON.CONTACT_US' | translate}}</h5>
                    <p>{{'FOOTER.QUESTION_TEXT' | translate}} <a href="mailto:tnbshopworld@gmail.com"
                            class="item-anchor">tnbshopworld&#64;gmail.com</a></p>
                    <p>{{'FOOTER.SUPPORT_TEXT' | translate}} <a href="tel:+43720115278" class="item-anchor">+43 720 115
                            278</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>