<!-- product-create.component.html -->
<div class="container py-5" style="margin-top: 62px">
    <h3>Tạo màu mới</h3>
    <form [formGroup]="colorForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
            <label for="hex-code" class="form-label">Hex code</label>
            <input type="text" class="form-control" formControlName="hexCode" id="hex-code" />
        </div>

        <div formArrayName="translations" class="border p-3 mt-4">
            <label class="form-label fw-bold">Translations</label>

            @for (trans of translationsArray.controls; track $index) {
            <div [formGroupName]="$index" class="mb-3 border-bottom pb-3">
                <div class="mb-2">
                    <label class="form-label">Language Code</label>
                    <input type="text" class="form-control" formControlName="languageCode" />
                </div>

                <div class="mb-2">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" formControlName="name" />
                </div>
            </div>
            }
        </div>


        <button class="btn btn-primary" type="submit" [disabled]="colorForm.invalid">Tạo màu mới</button>
    </form>
</div>