.dialog-overlay {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-backdrop {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.dialog-content {
    position: relative;
    background: white;
    border-radius: 0.25rem;
    max-width: 100%;
    width: 100%;
    max-width: 480px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: fadeInScale 0.2s ease-out;
}

.dialog-body {
    max-height: 400px;
    overflow: auto;
    overscroll-behavior: contain;
     scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}