#map {
    height: 100vh;
    /* Chiều cao toàn bộ khung nhìn */
    width: 100%;
    /* Chiều rộng toàn bộ khung nhìn */
    /* Hoặc bạn có thể đặt kích thước cố định, ví dụ: */
    /* height: 500px; */
    /* width: 800px; */
}