p {
    margin: 0;
}

.address-border {
    background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
    height: 3px;
}

.address {
    font-size: 14px;
}

.locations {
    height: calc(100% - 44px);
    overflow: auto;
    overscroll-behavior: contain;
    scrollbar-width: none;
    -ms-overflow-style: none;
}