<div class="sidebar">
    <!-- <div class="sidebar-categories border-animation-left mb-5">
        <div class="text-dark text-uppercase">{{"SHOP.BROWSE_BY_CATEGORIES" | translate}}:</div>
        <ul class="list-unstyled text-dark">
            <li>
                <span class="item-anchor cursor-pointer" [class.active]="allCategoriesChecked"
                    (click)="toggleCategorySelection()">{{'CATEGORY.ALL' | translate}}</span>
            </li>
            @for (category of categories; track category.id) {
            <li>
                <span class="item-anchor cursor-pointer" [class.active]="category.checked"
                    (click)="toggleCategorySelection(category)">{{category.name}}</span>
            </li>
            }
        </ul>
    </div> -->
    <div class="product-filter padding-small">
        <div class="color">
            <span>{{"COMMON.COLOR" | translate}} {{selectedColorIdCount() > 0 ? `(${selectedColorIdCount()})` : ''
                }}</span>
            <div class="mt-2 d-flex align-items-center flex-wrap row-gap-2">
                @for (color of colors$ | async; track color.id) {
                <div class="swatch-wrapper">
                    <button type="button" class="p-2 d-flex align-items-center gap-2 border-dark rounded-pill"
                        [class.border]="selectedColorIdsMap().has(color.id)" (click)="toggleColor(color.id)">
                        <span class="swatch-circle" [style]="{'background-color': color.value_code}"></span>
                        <span class="swatch-name">{{color.name}}</span>
                    </button>
                </div>
                }
            </div>
            <!-- <div class="accordion-item">
                <div class="accordion-header" id="heading-two">
                    <button class="accordion-button py-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-two" aria-expanded="true" aria-controls="collapse-two">
                        <span class="accordion-title fs-3">{{"COMMON.SIZE" | translate}}</span>
                    </button>
                </div>
                <div id="collapse-two" class="accordion-collapse collapse show" aria-labelledby="heading-two">
                    <div class="accordion-body">
                        @for (size of sizes; track size.id) {
                        <span class="accordion-content text-dark cursor-pointer" [class.active]="size.checked"
                            (click)="toggleSizeSelection(size)">{{size.name}}</span>
                        }
                    </div>
                </div>
            </div> -->
            <div class="mt-2 price">
                <span>{{"COMMON.PRICE" | translate}} {{selectedPriceIdCount() > 0 ? `(${selectedPriceIdCount()})` : ''
                    }}</span>
                <div class="mt-2">
                    @for (price of priceRanges; track price.id) {
                    <button type="button" class="price-btn p-2 border border-dark d-block w-50 mt-2 text-left"
                        [class.active]="selectedPriceRangeId() == price.id"
                        (click)="togglePrice(price)">{{price.displayLabel}}</button>
                    }
                </div>
            </div>
            <!-- <div class="accordion-item">
                <div class="accordion-header" id="heading-four">
                    <button class="accordion-button py-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-four" aria-expanded="true" aria-controls="collapse-four">
                        <span class="accordion-title fs-3">{{"COMMON.BRAND" | translate}}</span>
                    </button>
                </div>
                <div id="collapse-four" class="accordion-collapse collapse show" aria-labelledby="heading-four">
                    <div class="accordion-body">
                        @for (brand of brands; track brand.id) {
                        <span class="accordion-content text-dark cursor-pointer" [class.active]="brand.checked"
                            (click)="toggleBrandSelection(brand)">{{brand.name}}</span>
                        }
                    </div>
                </div>
            </div> -->
            <!-- <button class="btn btn-link text-uppercase item-anchor" (click)="resetFilter()">{{"SHOP.RESET_FILTER" |
                translate}}</button> -->
        </div>
    </div>
</div>