.card {
    border-top: 5px solid #198754;
}

/* Viền màu xanh lá biểu thị an toàn */
.display-1 {
    font-size: 5rem;
}

.form-control-lg {
    font-size: 1rem;
}

.custom-progress-magic {
    /* Ép màu nền đậm hơn và sọc trắng rõ hơn */
    background-image: linear-gradient(45deg,
            rgba(255, 255, 255, 0.4) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0.4) 75%,
            transparent 75%,
            transparent) !important;
    background-size: 1rem 1rem !important;
}