<section id="login-form" class="auth py-5">
    <div class="container-sm">
        <div class="row justify-content-center">
            <div class="col-6">
                <h2 class="section-title">{{'AUTH.RESET_PASSWORD' | translate}}</h2>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="form-group flex-wrap">
                    <div class="col-12 pb-3">
                        <label>{{'AUTH.PASSWORD' | translate}} *</label>
                        <div class="position-relative">
                            <input [type]="pwInputType" formControlName="password"
                                [placeholder]="'AUTH.PASSWORD_PLACEHOLDER' | translate" class="form-control"
                                autocomplete="current-password" [formControlError]
                                [errorMessages]="{'pattern': 'FORM_MESSAGE.PASSWORD_PATTERN'}">
                            <button type="button" [hidden]="!!resetPasswordForm.get('password')?.errors"
                                class="password-toggle btn btn-outline position-absolute h-100 top-0 end-0"
                                (click)="togglePassword()">
                                <svg width="18" height="18" viewBox="0 0 18 18">
                                    @if (pwInputType === 'password') {
                                    <use xlink:href="#eye"></use>
                                    } @else {
                                    <use xlink:href="#eye-slash"></use>
                                    }
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <label>{{'AUTH.CONFIRM_PASSWORD' | translate}} *</label>
                        <div class="position-relative">
                            <input [type]="confirmInputType" formControlName="confirmPassword"
                                [placeholder]="'AUTH.CF_PASSWORD_PLACEHOLDER' | translate" class="form-control"
                                autocomplete="confirm-password"
                                [class.is-invalid]="resetPasswordForm.errors?.['passwordMismatch'] && resetPasswordForm.get('confirmPassword')?.touched">
                            <button type="button"
                                [hidden]="resetPasswordForm.errors?.['passwordMismatch'] || !!resetPasswordForm.get('confirmPassword')?.errors"
                                class="password-toggle btn btn-outline position-absolute h-100 top-0 end-0"
                                (click)="toggleConfirmPassword()">
                                <svg width="18" height="18" viewBox="0 0 18 18">
                                    @if (confirmInputType === 'password') {
                                    <use xlink:href="#eye"></use>
                                    } @else {
                                    <use xlink:href="#eye-slash"></use>
                                    }
                                </svg>
                            </button>
                            <div class="invalid-feedback">
                                {{'FORM_MESSAGE.PASSWORD_MIS_MATCH' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <ng-container *appLoadingToggle="'reset-password-btn'">
                            <button type="submit" class="btn btn-dark btn-large text-uppercase"
                                [disabled]="resetPasswordForm.invalid">{{'COMMON.SIGN_UP' | translate}}</button>
                        </ng-container>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>