<section id="login-form" class="py-5">
    <div class="container-sm">
        <div class="row justify-content-center">
            <div class="col-6">
                <h2 class="section-title">{{'AUTH.RESET_PASSWORD' | translate}}</h2>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="form-group flex-wrap">
                    <div class="col-12 pb-3">
                        <label>{{'AUTH.PASSWORD' | translate}} *</label>
                        <input type="password" formControlName="password"
                            [placeholder]="'AUTH.PASSWORD_PLACEHOLDER' | translate" class="form-control"
                            autocomplete="current-password" [formControlError]
                            [errorMessages]="{'pattern': 'FORM_MESSAGE.PASSWORD_PATTERN'}">
                    </div>
                    <div class="col-12 pb-3">
                        <label>{{'AUTH.CONFIRM_PASSWORD' | translate}} *</label>
                        <input type="password" formControlName="confirmPassword"
                            [placeholder]="'AUTH.CF_PASSWORD_PLACEHOLDER' | translate" class="form-control"
                            autocomplete="confirm-password"
                            [class.is-invalid]="resetPasswordForm.errors?.['passwordMismatch'] && resetPasswordForm.get('confirmPassword')?.touched">
                        <div class="invalid-feedback">
                            {{'FORM_MESSAGE.PASSWORD_MIS_MATCH' | translate}}
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <ng-container *appLoadingToggle="'submitBtn'">
                            <button type="submit" class="btn btn-dark btn-large text-uppercase"
                                [disabled]="resetPasswordForm.invalid">{{'COMMON.SIGN_UP' | translate}}</button>
                        </ng-container>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>