<section class="logo-bar py-5">
    <div class="container">
        <div class="logo-content d-flex flex-wrap justify-content-center gap-5">
            <img src="assets/images/client/logo1.png" alt="logo" class="logo-image img-fluid">
            <img src="assets/images/client/logo2.png" alt="logo" class="logo-image img-fluid">
            <img src="assets/images/client/logo3.png" alt="logo" class="logo-image img-fluid">
            <img src="assets/images/client/logo4.png" alt="logo" class="logo-image img-fluid">
            <img src="assets/images/client/logo5.png" alt="logo" class="logo-image img-fluid">
        </div>
    </div>
</section>