<section class="features py-5 border-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center aos-init aos-animate" data-aos="fade-in" data-aos-delay="0">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#calendar"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">{{"FEATURES.FEATURE_1.TITLE" | translate}}</h4>
                    <p>{{"FEATURES.FEATURE_1.SUBTITLE" | translate}}</p>
                </div>
            </div>
            <div class="col-md-3 text-center aos-init aos-animate" data-aos="fade-in" data-aos-delay="300">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#shopping-bag"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">{{"FEATURES.FEATURE_2.TITLE" | translate}}</h4>
                    <p>{{"FEATURES.FEATURE_2.SUBTITLE" | translate}}</p>
                </div>
            </div>
            <div class="col-md-3 text-center aos-init aos-animate" data-aos="fade-in" data-aos-delay="600">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#gift"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">{{"FEATURES.FEATURE_3.TITLE" | translate}}</h4>
                    <p>{{"FEATURES.FEATURE_3.SUBTITLE" | translate}}</p>
                </div>
            </div>
            <div class="col-md-3 text-center aos-init aos-animate" data-aos="fade-in" data-aos-delay="900">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#arrow-cycle"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">{{"FEATURES.FEATURE_4.TITLE" | translate}}</h4>
                    <p>{{"FEATURES.FEATURE_4.SUBTITLE" | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</section>