<div class="row align-items-center gy-3">
    <div class="col-lg-6">
        <div class="image-holder">
            <div class="placeholder rounded w-100 d-block" style="aspect-ratio: 1/1"></div>
        </div>
    </div>
    <div class="banner-content col-lg-6 px-3 d-flex flex-column align-items-center">
        <span class="placeholder col-10 mb-3 py-4 rounded"></span>
        <span class="placeholder col-8 mb-2 py-2"></span>
        <span class="placeholder col-6 mb-4 py-2"></span>
        <span class="placeholder col-4 py-3 btn-placeholder rounded"></span>
    </div>
</div>