<div class="product-item">
    <div class="position-relative">
        <div [id]="'carousel-' + currentVariant.id" class="carousel slide">
            <div class="carousel-indicators">
                @for (item of currentVariant.images; track $index; let isFirst = $first) {
                <button type="button" [attr.data-bs-target]="'#carousel-' + currentVariant.id"
                    [attr.data-bs-slide-to]="$index" [class.active]="isFirst"></button>
                }
            </div>
            <div class="carousel-inner">
                @for (img of currentVariant.images; track $index; let isFirst = $first) {
                <div class="carousel-item" [class.active]="isFirst">
                    <a [routerLink]="['/product', product.id, currentVariant.id, product.slug]">
                        <img [src]="img" alt="Product images" class="product-image img-fluid">
                    </a>
                </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carousel-' + currentVariant.id"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carousel-' + currentVariant.id"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <button type="button" class="btn btn-icon btn-wishlist" (click)="addToWishlist(currentVariant.id)">
            <ng-container *appLoadingToggle="'wishlist-' + currentVariant.id">
                @if (currentVariant.isFavorite) {
                <svg width="24" height="24" viewBox="0 0 24 24" class="is-wishlisted">
                    <use xlink:href="#heart-filled"></use>
                </svg>
                } @else {
                <svg width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="#heart"></use>
                </svg>
                }
            </ng-container>
        </button>
        <div class="link-effect">
            <div class="d-flex gap-1 my-2">
                @for (color of colors; track $index) {
                <button class="btn btn-outline-light p-0" (click)="changeColor(color)">
                    <span class="swatch-circle d-block rounded-pill" [class.active]="color.checked"
                        [style.background-color]="color.hexCode"></span>
                </button>
                }
            </div>
            <h5 class="text-uppercase fs-5">
                <a [routerLink]="['/product', product.id, product.slug]">{{product.name}}</a>
            </h5>
            <ng-container *appLoadingToggle="'cart-' + currentVariant.id">
                <a href="javascript:void(0)" class="text-decoration-none" data-after="Add to cart"
                    (click)="addToCart(currentVariant.id)"><span>${{currentVariant.price}}</span>
                </a>
            </ng-container>
        </div>
    </div>
</div>