<section class="py-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="page-title pb-2">{{"CONTACT.TITLE" | translate}}</h1>
            <nav class="breadcrumb fs-6">
                <a class="breadcrumb-item nav-link" href="#">Home</a>
                <a class="breadcrumb-item nav-link" href="#">Pages</a>
                <span class="breadcrumb-item active" aria-current="page">Checkout</span>
            </nav>
        </div>
    </div>
</section>
<section class="contact-us-wrap py-5">
    <div class="container">
        <div class="row">
            <div class="contact-info col-md-6">
                <h2 class="fs-3 text-uppercase">{{"CONTACT.CONTACT_INFORMATION" | translate}}</h2>
                <p>{{"CONTACT.CONTACT_DESC" | translate}}</p>
                <div class="page-content">
                    <div class="col-md-6">
                        <div class="content-box">
                            <h5 class="element-title text-uppercase">{{"CONTACT.HEAD_OFFICE" | translate}}</h5>
                            <div class="contact-address">
                                <p>730 Glenstone Ave 65802, Springfield, US</p>
                            </div>
                            <div class="contact-number">
                                <p>
                                    <a href="#">+123 987 321</a>
                                    <a href="#">+123 123 654</a>
                                </p>
                            </div>
                            <div class="email-address">
                                <p>
                                    <a href="#">kaira&#64;templatesjungle.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content-box">
                            <h5 class="element-title text-uppercase">{{"CONTACT.BRAND_OFFICE" | translate}}</h5>
                            <div class="contact-address">
                                <p>730 Glenstone Ave 65802, Springfield, US</p>
                            </div>
                            <div class="contact-number">
                                <p>
                                    <a href="#">+123 987 321</a>
                                    <a href="#">+123 123 654</a>
                                </p>
                            </div>
                            <div class="email-address">
                                <p>
                                    <a href="#">contact&#64;yourcompany.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content-box">
                            <h5 class="element-title text-uppercase">{{"CONTACT.SOCIAL_INFO" | translate}}</h5>
                            <div class="social-links">
                                <ul class="list-unstyled d-flex flex-wrap gap-3">
                                    <li>
                                        <a href="#" class="text-secondary">
                                            <svg width="24" height="24" viewBox="0 0 24 24">
                                                <use xlink:href="#facebook"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-secondary">
                                            <svg width="24" height="24" viewBox="0 0 24 24">
                                                <use xlink:href="#twitter"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-secondary">
                                            <svg width="24" height="24" viewBox="0 0 24 24">
                                                <use xlink:href="#youtube"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-secondary">
                                            <svg width="24" height="24" viewBox="0 0 24 24">
                                                <use xlink:href="#pinterest"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-secondary">
                                            <svg width="24" height="24" viewBox="0 0 24 24">
                                                <use xlink:href="#instagram"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inquiry-item col-md-6">
                <h2 class="fs-3 text-uppercase">{{"CONTACT.ANY_QUESTION" | translate}}</h2>
                <p>{{"CONTACT.FORM_DESC" | translate}}</p>
                <form id="form" class="form-group flex-wrap">
                    <div class="form-input col-lg-12 d-flex mb-3">
                        <input type="text" name="email" [placeholder]="'CONTACT.NAME_PLACEHOLDER' | translate"
                            class="form-control ps-3 me-3">
                        <input type="text" name="email" [placeholder]="'CONTACT.EMAIL_PLACEHOLDER' | translate" class="form-control ps-3">
                    </div>
                    <div class="col-lg-12 mb-3">
                        <input type="text" name="email" [placeholder]="'CONTACT.PHONE_PLACEHOLDER' | translate" class="form-control ps-3">
                    </div>
                    <div class="col-lg-12 mb-3">
                        <input type="text" name="email" [placeholder]="'CONTACT.SUBJECT_PLACEHOLDER' | translate" class="form-control ps-3">
                    </div>
                    <div class="col-lg-12 mb-3">
                        <textarea [placeholder]="'CONTACT.MESSAGE_PLACEHOLDER' | translate" class="form-control ps-3" rows="8"></textarea>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg text-uppercase btn-rounded-none">{{"COMMON.SUBMIT" | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="contact-list py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="content-box">
                    <h5 class="element-title text-uppercase">USA</h5>
                    <div class="contact-address">
                        <p>730 Glenstone Ave 65802, Springfield, US</p>
                    </div>
                    <div class="contact-number">
                        <p>
                            <a href="#">+123 987 321</a>
                            <a href="#">+123 123 654</a>
                        </p>
                    </div>
                    <div class="email-address">
                        <p>
                            <a href="#">kaira&#64;templatesjungle.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-box">
                    <h5 class="element-title text-uppercase">France</h5>
                    <div class="contact-address">
                        <p>13 Rue Montmartre 75001, Paris, France</p>
                    </div>
                    <div class="contact-number">
                        <p>
                            <a href="#">+123 987 321</a>
                            <a href="#">+123 123 654</a>
                        </p>
                    </div>
                    <div class="email-address">
                        <p>
                            <a href="#">kaira&#64;templatesjungle.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-box">
                    <h5 class="element-title text-uppercase">Office</h5>
                    <div class="contact-address">
                        <p>18 Chapel Brow PR25 3NE, Leyland, UK</p>
                    </div>
                    <div class="contact-number">
                        <p>
                            <a href="#">+123 987 321</a>
                            <a href="#">+123 123 654</a>
                        </p>
                    </div>
                    <div class="email-address">
                        <p>
                            <a href="#">kaira&#64;templatesjungle.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>