<section class="newsletter jarallax my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 py-5 my-5">
                <div class="subscribe-header text-center pb-3">
                    <h3 class="section-title text-uppercase text-white">{{"NEWSLETTER.TITLE" | translate}}</h3>
                </div>
                <form id="form" class="d-flex flex-wrap gap-2">
                    <input type="text" name="email" [placeholder]="'COMMON.EMAIL_PLACEHOLDER' | translate"
                        class="form-control form-control-lg bg-white rounded-0">
                    <button class="btn btn-dark btn-lg text-uppercase w-100">{{"NEWSLETTER.BUTTON" |
                        translate}}</button>
                </form>
            </div>
        </div>
    </div>
    <img src="assets/images/newsletter/bg-newsletter.jpg" alt="newsletter" class="jarallax-img img-fluid" />
</section>