<div class="cart-skeleton">
    <div class="container">
        <div class="row placeholder-glow">
            <div class="col-12 col-lg-9">
                <div class="cart-list">
                    @for (i of [1, 2, 3]; track $index) {
                    <div class="cart-item border-bottom py-3">
                        <div class="row align-items-center">
                            <div class="col-9 col-md-5">
                                <div class="cart-info d-flex align-items-center gap-3">
                                    <div class="col-4">
                                        <div class="placeholder w-100" style="aspect-ratio: 1/1; display: block;"></div>
                                    </div>
                                    <div class="col-8">
                                        <h3 class="card-title mb-2">
                                            <span class="placeholder col-10"></span>
                                        </h3>
                                        <p class="mb-1"><span class="placeholder col-4"></span></p>
                                        <p class="d-md-none"><span class="placeholder col-3"></span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-2 d-none d-md-block">
                                <span class="placeholder col-8"></span>
                            </div>

                            <div class="col-3 col-md-2">
                                <div class="placeholder w-100" style="height: 35px; border-radius: 4px;"></div>
                            </div>

                            <div class="col-2 d-none d-md-block">
                                <div class="text-center">
                                    <span class="placeholder col-10"></span>
                                </div>
                            </div>

                            <div class="col-1 d-none d-md-block text-end">
                                <span class="placeholder col-10" style="height: 32px;"></span>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>

            <div class="col-12 offset-0 col-md-6 offset-md-6 col-lg-3 offset-lg-0">
                <div class="cart-totals bg-grey py-5 px-3">
                    <h4 class="pb-4">
                        <span class="placeholder col-8"></span>
                    </h4>
                    <div class="d-flex align-items-center justify-content-between mb-4 py-2 border-bottom border-top">
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-3"></span>
                    </div>
                    <div>
                        <div class="mb-3">
                            <div class="placeholder btn btn-outline-dark w-100" style="height: 45px;"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="placeholder btn btn-primary w-100" style="height: 45px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>