@if (productResource.isLoading()) {
<app-product-detail-skeleton />
}

@if (productResource.value(); as product) {
@if (selectedVariant(); as variant) {
<article class="container py-6 lg:py-12 flex flex-col lg:flex-row gap-8 xl:gap-16 items-start">
    <section class="w-full lg:w-[58%] shrink-0 flex flex-col gap-0.5 bg-white" aria-label="Product image collection">
        <figure class="w-full aspect-square bg-white relative overflow-hidden group">
            <img [src]="imagesByColor()[0].url" [alt]="product.name"
                class="w-full h-full object-cover select-none transition-transform duration-700 ease-out group-hover:scale-103"
                loading="eager" />
        </figure>

        <div class="grid grid-cols-2 gap-0.5">
            @for (img of imagesByColor(); track img.url; let first = $first) {
            @if (!first) {
            <figure class="w-full aspect-square bg-white relative overflow-hidden group">
                <img [src]="img.url" [alt]="product.name"
                    class="w-full h-full object-cover select-none transition-transform duration-700 ease-out group-hover:scale-103"
                    loading="lazy" />
            </figure>
            }
            }
        </div>
    </section>

    <section class="flex-1 py-6 md:py-0 md:sticky md:top-16 flex flex-col justify-between h-fit w-full"
        aria-label="Order information and options">
        <div class="w-full">
            <!-- <app-breadcrumb [items]="breadcrumbs" /> -->

            <header class="mt-4 mb-8">
                <p class="text-sm tracking-[0.25em] text-neutral-900 uppercase font-medium mb-2">
                    {{ product.brandName }}
                </p>

                <h1 class="text-2xl md:text-3xl font-light tracking-widest uppercase text-black leading-[1.1]">
                    {{ product.name }}
                </h1>

                <div class="mt-4 flex flex-col gap-1">
                    <div class="flex items-end gap-3">
                        <strong class="text-2xl font-light text-neutral-900 tracking-tight" aria-label="Price">
                            {{
                            variant.price | price: product.currency
                            }}
                        </strong>
                        @if (variant.salePrice) {
                        <del class="text-sm text-neutral-400" aria-label="Sale price">
                            {{
                            variant.salePrice
                            | price: product.currency
                            }}
                        </del>
                        }
                    </div>

                    <span class="text-[10px] text-neutral-400 font-light italic tracking-wide">
                        {{ "PDP.TAX" | translate }}
                    </span>
                </div>
                <div class="text-[10px] tracking-[0.15em] text-neutral-400 font-light mt-6 uppercase">
                    {{ "PDP.REFERENCE" | translate }}:
                    <span class="text-black font-medium">{{
                        variant.sku
                        }}</span>
                </div>
            </header>

            <div class="border-t border-black/10 my-6"></div>

            <p class="text-[13px] leading-relaxed text-neutral-800 font-light tracking-wide mb-8 text-justify">
                {{ product.description }}
            </p>
            <div class="mb-8">
                <span class="text-[10px] tracking-[0.2em] uppercase text-neutral-400 block mb-3">
                    {{ "COMMON.COLOR" | translate }}:
                    <span class="text-black font-medium">{{
                        selectedColorOption()?.label
                        }}</span>
                </span>

                <app-color-swatch [options]="colorOptions()" [selectedOptionValue]="selectedColorOption()"
                    (select)="changeColor($event)" />
            </div>

            @if (product.sizes && product.sizes.length) {
            <div class="mb-10">
                <div class="flex justify-between items-center mb-3">
                    <span class="text-[10px] tracking-[0.2em] uppercase text-neutral-400">{{ "COMMON.SIZE" | translate
                        }}</span>
                    <button type="button" (click)="openSizeGuide()"
                        class="text-[11px] uppercase tracking-widest text-neutral-500 underline underline-offset-2 hover:text-black transition-colors focus:outline-none">
                        {{ "COMMON.SIZE_GUIDE" | translate }}
                    </button>
                </div>
                <app-size-selector [options]="sizeOptions()" [selectedValue]="selectedSizeOption()"
                    (select)="selectedSizeOption.set($event)" />
            </div>
            }

            <div class="mb-8">
                <span class="text-[10px] tracking-[0.2em] uppercase text-neutral-400 block mb-3">{{ "COMMON.QUANTITY" |
                    translate }}</span>
                <app-quantity-selector [value]="quantity()" (valueChange)="quantity.set($event)" />
            </div>

            <div class="space-y-3 mb-10">
                <button (click)="onAddToBag($event)" [attr.aria-label]="'Add product ' +  product.name + ' to bag'"
                    class="w-full h-14 bg-black text-white text-[11px] font-medium tracking-[0.25em] uppercase hover:bg-neutral-900 active:bg-neutral-800 transition-colors duration-300 focus-visible:ring-1 focus-visible:ring-black">
                    {{ 'PDP.CTA' | translate }}
                </button>

                <button [attr.aria-label]="'Check status of ' + product.name +' at boutique'"
                    class="w-full h-14 bg-white border border-black/20 text-black text-[11px] font-medium tracking-[0.25em] uppercase hover:border-black transition-colors duration-300">
                    {{ 'PDP.FIND_IN_BOUTIQUE' | translate }}
                </button>
            </div>

            <div class="border-t border-black/10" role="tablist" aria-label="Additional information">
                <cdk-accordion [multi]="true">
                    <app-accordion>
                        <span accordionTitle>{{ 'PDP.PRODUCT_DETAILS' | translate }}</span>
                        <div accordionContent
                            class="pt-4 text-xs font-light leading-6 tracking-wide text-neutral-600 space-y-4">
                            <p class="mb-3 text-[13px] text-neutral-500 leading-6"
                                [innerHTML]="product.content | safeHtml"></p>
                            @for (specification of product.specifications; track specification.title) {
                            <h4 class="mb-2 text-[11px] font-medium uppercase tracking-[0.15em] text-black">
                                {{ specification.title }}
                            </h4>
                            <ul class="space-y-1 text-neutral-500 pl-2">
                                @for (value of specification.values; track value) {
                                <li>
                                    {{value}}
                                </li>
                                }
                            </ul>
                            }
                        </div>
                    </app-accordion>
                    <app-accordion>
                        <span accordionTitle>{{ 'PDP.SHIPPING.TITLE' | translate }}</span>
                        <div accordionContent class="pt-4 text-xs font-light leading-6 tracking-wide text-neutral-600">
                            <p>{{ 'PDP.SHIPPING.POLICY' | translate }}</p>

                            <p class="text-[11px] italic text-neutral-400">{{ 'PDP.SHIPPING.PACKAGING' | translate }}
                            </p>
                        </div>
                    </app-accordion>
                </cdk-accordion>
            </div>
        </div>

        <footer class="mt-16 flex flex-col items-center md:items-start gap-1">
            <span class="text-[10px] tracking-[0.2em] text-neutral-400 uppercase">Need personal assistance?</span>
            <a href="tel:+"
                class="text-[11px] tracking-widest text-black font-medium uppercase underline underline-offset-4 hover:text-neutral-500 transition-colors">
                Contact our Private Client Advisor
            </a>
        </footer>
    </section>
</article>
}
}