.swatch-element .swatch-label {
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    min-width: 50px;
    height: 50px;
    border: 2px solid var(--bs-gray-300);
    transition: all 0.3s;
    cursor: pointer;
    padding: 8px;
}

.swatch-element .swatch-input {
    display: none;
}

.swatch-element .swatch-input:checked+.swatch-label {
    border: 2px solid var(--bs-gray);
}

.product-info .product-price del {
    color: var(--accent-color);
}

.product-name {
    font-size: 2.125rem;
    margin: 0;
}

.product-quantity .qty-number {
    margin-right: 20px;
}

.product-quantity .input-group .btn {
    height: 48px;
    border: 1px solid #ccc;
}


.product-info .color-product-options .color-item {
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid var(--bs-gray);
    padding: 1px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 3px;
}

.product-info .color-product-options .color-item.active {
    border: 1px solid var(--bs-gray-dark);
}

.product-info .color-product-options .color-item span {
    border: 1px solid var(--bs-dark);
    display: block;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.product-info .color-product-options .color-item:hover {
    border: 1px dotted var(--bs-gray-300);
}

@media screen and (min-width: 992px) {
    .product-name {
        font-size: 2rem;
    }
}